*, *:before, *:after {
    box-sizing: border-box;
  }

body {

}


.container {
}

nav {
  background-image: url("../Images/TopHalf.png");
  background-repeat: no-repeat;
  width: 375px;
  padding: 40px 0 15px 15px;
}


.content {
  display: inline-block;
  outline-style: solid;
  outline-width: thin;
  background-color: silver;
  width: 100%;
  padding: 5%;

}

}

h1 {text-align: center;
}

h2 {

}

  }

}
