*, *:before, *:after {
    box-sizing: border-box;
  }

body {
  background-color: #888;
  font-family: 'Oswald', sans-serif;
  font-size: 16px
}

nav {
  background-image: url("../Images/TopNav.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 375px;
}

.container {
  background-color: #fff;
  height: auto;
  width: 375px;
}

.topNav{
  background-color: #FF2D55;
  display: inline-block;
  width: 375px;
  height: 37px;
  padding-top: 6px;
  padding-left: 5%;
  margin-top: 5%;
}

.fa-location-arrow {
	content: "\f124";
	font-size: 20px;
	border-radius: 50%;
	border: 15px solid #ff2d55;
  background-color: #ff2d55;
	color: #fff;
  display: inline-block;
  margin-top: 30px;
  margin-left: 18%;
	}

.fa-list {
  content: "\f03a";
  font-size: 20px;
	border-radius: 50%;
	border: 15px solid #ff2d55;
  background-color: #ff2d55;
  color: #fff;
  display: inline-block;
  margin-left: 30%;
}}

.content {
  display: block;
  padding: 3%;
  width: 375px;
}

hr {
  border-style: solid;
  border-width: .75px;
  color: #d9d9d9;
  display: block;
  margin-right: 1%;
}

hr.hr2 {
  border-style: solid;
  border-width: .75px;
  color: #d9d9d9;
  display: block;
  margin-left: 0%;
  margin-right: 1%;

}

ul {
  font-size: 1.15em;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 8px;
}

li  {
  font-size: .85em;
  font-weight: lighter;
  margin-top: 8px;
  margin-bottom: 15px;
}

/* showing arrivals vvv */
li.li2 {
  border-top: .75px solid #d9d9d9;
  border-bottom: .75px solid #d9d9d9;
  border-collapse: separate;
  border-spacing: 10px 50px;
  font-size: .85em;
  font-weight: 900;
  line-height: 1em;
  margin-left: 14%;
}


li.li3 {
  font-size: .75em;
  font-weight: bolder;
  line-height: 2em;
  margin-left: 17%;
  margin-top: -7px;
  margin-bottom: 15px;
}

li.busline {
  border-top: .75px solid #d9d9d9;
}

li.arrivals {
  border-bottom: .75px solid #d9d9d9;
  border-spacing: 20px 20px;
}
